# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env
.env.local

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore local data files
data/
*.csv

# Ignore logs
*.log

# Ignore test output
tests/output/